

h1 Splaty
h3 Splat stuff on a wall and save it for later
p You can even encrypt or email the content on the wall
p
  |To get started go to any wall, like 
  a href="/test"
    |splaty.com/
    = ['curie', 'maxwell', 'faraday', 'tesla', 'euler', 'bohr'].sample

div.propagating-circle.ping
div.propagating-circle.ping.delay-p5s
div.propagating-circle.ping.delay-1s
div.propagating-circle.ping.delay-1p5s
div.propagating-circle.ping.delay-2s

br
br
br
br
br
br
br
br
br

b
  |A Project By 
  a href="http://alexleishman.com" Alex Leishman