.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    font-size: 16px;
    background: white;
    /*border: 1px solid #DDD;*/
    min-width: 120px;
    z-index: 11110 !important;
}

.atwho-view .cur {
    background: #333;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: white;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: white;
    font-weight: normal;
}