
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: helvetica;
}

$container_width: 900px;
$magic_box_height: 300px;

.container {
  width: $container_width;
  margin: 0 auto;
}


#wall_form {
  width: 100%;
}

#wall_form:hover {
  .btn {
    visibility: visible;
  }
}

.magic-box {
  width: 100%;
  height: $magic_box_height;
  display: block;
}

#wall_form .btn {
  float: right;
  position: relative;
  right: 10px;
  bottom: 50px;
}

.command-box {
  width: 500px;
  margin: 0 auto;
  display: block;
  padding: 0 10px;
}


// general classes

.clearfix {
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.muted {
  color: $color_medium_gray;
}

.invisible {
  visibility: hidden;
}

.hide_desktop {
  display: none;
}


// Forms
input, textarea {
  margin: 5px auto;
  outline: none;
  border-radius: 0;
  border: 1px solid $color_medium_gray;
}

textarea:focus, input:focus {
  outline: black solid 2px;
}

input {
  font-size: 16px;
  height: 40px;
}

.btn {
  width: auto;
  height: 35px;
  padding: 0 10px;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  background-color: $color_lightest_gray;
}

.btn:hover {
  background-color: $color_light_gray;
}


// messages

.error {
  color: red;
}

#messages {
  width: 80%;
  margin-top: 20px;
}

.command-message {
  background-color: $color_lightest_gray;
  padding: 5px;
  margin: 10px 0;
}


// media queries
@media screen and (max-width: $mobile_breakpoint) {

  .hide_mobile {
    display: none;
  }

  .container {
    padding: 15px;
    width: 100%;
  }

  #wall_form, .magic-box {
    width: 100%;
  }
}
