h1 The Wall | #{@wall.path}
= form_for @wall, url: wall_update_path(@wall.id), remote: true, method: :put, id: 'magic_box' do |f|
  = f.text_area :text, value: @wall.text, placeholder: 'The hive awaits your words', class: 'magic_box'
  = f.submit
